# MySQL configuration file

[client]
port				= 3306
socket				= /var/run/mysqld/mysqld.sock

[mysqld]
user				= mysql
pid-file			= /var/run/mysqld/mysqld.pid
socket				= /var/run/mysqld/mysqld.sock
port				= 3306
basedir				= /usr
datadir				= /var/lib/mysql
tmpdir				= /tmp
lc-messages-dir			= /usr/share/mysql
skip-external-locking
bind-address			= 127.0.0.1
key_buffer			= 128M
max_allowed_packet		= 16M
thread_stack			= 192K
thread_cache_size		= 8
max_connections			= 128
thread_concurrency		= 2
query_cache_limit		= 1M
query_cache_size		= 16M
log_error			= /var/log/mysql/error.log
ssl-ca				= /etc/mysql/cacert.pem
ssl-cert			= /etc/mysql/server-cert.pem
ssl-key				= /etc/mysql/server-key.pem

[mysqldump]
quick
quote-names
max_allowed_packet		= 16M

[mysql]
no-auto-rehash
safe-updates

[isamchk]
key_buffer			= 8M
sort_buffer_size		= 8M

[mysqlhotcopy]
interactive-timeout

!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mysql.conf.d/
